{% load static %}
<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<style type="text/css">
<!--
span.cls_002{font-family:Arial,serif;font-size:15.9px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_002{font-family:Arial,serif;font-size:15.9px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_003{font-family:Arial,serif;font-size:10.6px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_003{font-family:Arial,serif;font-size:10.6px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_004{font-family:Arial,serif;font-size:12.1px;color:rgb(18,148,200);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_004{font-family:Arial,serif;font-size:12.1px;color:rgb(18,148,200);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_005{font-family:Arial,serif;font-size:11.2px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_005{font-family:Arial,serif;font-size:11.2px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_006{font-family:Arial,serif;font-size:9.9px;color:rgb(118,118,118);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_006{font-family:Arial,serif;font-size:9.9px;color:rgb(118,118,118);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_007{font-family:Arial,serif;font-size:9.9px;color:rgb(0,0,204);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_007{font-family:Arial,serif;font-size:9.9px;color:rgb(0,0,204);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_008{font-family:Arial,serif;font-size:11.2px;color:rgb(118,118,118);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_008{font-family:Arial,serif;font-size:11.2px;color:rgb(118,118,118);font-weight:normal;font-style:normal;text-decoration: none}
-->
</style>
<script type="text/javascript" src="4a045a26-3d58-11ea-a5fd-0cc47a792c0a_id_4a045a26-3d58-11ea-a5fd-0cc47a792c0a_files/wz_jsgraphics.js"></script>
</head>
<body>
<div style="position:absolute;left:50%;margin-left:-297px;top:0px;width:595px;height:841px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="{% static '4a045a26-3d58-11ea-a5fd-0cc47a792c0a_id_4a045a26-3d58-11ea-a5fd-0cc47a792c0a_files/background1.jpg' %}" width=595 height=841></div>
<div style="position:absolute;left:46.27px;top:58.30px" class="cls_002"><span class="cls_002">Rohit Sai Nagarjuna Reddy</span></div>
<div style="position:absolute;left:46.27px;top:91.87px" class="cls_003"><span class="cls_003">rohit20001221@gmail.com</span></div>
<div style="position:absolute;left:46.27px;top:114.49px" class="cls_003"><span class="cls_003">+91 9515793306</span></div>
<div style="position:absolute;left:46.27px;top:137.12px" class="cls_003"><span class="cls_003">Hyderabad</span></div>
<div style="position:absolute;left:47.02px;top:170.90px" class="cls_004"><span class="cls_004">EDUCATION</span></div>
<div style="position:absolute;left:189.52px;top:170.63px" class="cls_005"><span class="cls_005">Bachelor of Technology (B.Tech), Computer Science & Engineering</span></div>
<div style="position:absolute;left:189.52px;top:190.85px" class="cls_005"><span class="cls_005">(2018 - 2022)</span></div>
<div style="position:absolute;left:189.52px;top:211.82px" class="cls_006"><span class="cls_006">JNTUH COLLEGE OF ENGINEERING JAGTIAL</span></div>
<div style="position:absolute;left:189.52px;top:229.35px" class="cls_006"><span class="cls_006">CGPA : 8.50/10</span></div>
<div style="position:absolute;left:189.52px;top:258.89px" class="cls_005"><span class="cls_005">XII (Senior Secondary), Science</span></div>
<div style="position:absolute;left:189.52px;top:279.85px" class="cls_006"><span class="cls_006">Year of Completion: 2018</span></div>
<div style="position:absolute;left:189.52px;top:297.38px" class="cls_006"><span class="cls_006">SSC Board (Sri Gayatri Junior College)</span></div>
<div style="position:absolute;left:189.52px;top:314.91px" class="cls_006"><span class="cls_006">Percentage : 95.00%</span></div>
<div style="position:absolute;left:189.52px;top:344.45px" class="cls_005"><span class="cls_005">X (Secondary)</span></div>
<div style="position:absolute;left:189.52px;top:365.42px" class="cls_006"><span class="cls_006">Year of Completion: 2017</span></div>
<div style="position:absolute;left:189.52px;top:382.95px" class="cls_006"><span class="cls_006">SSC Board (Rao's High School)</span></div>
<div style="position:absolute;left:189.52px;top:400.48px" class="cls_006"><span class="cls_006">CGPA : 8.50/10</span></div>
<div style="position:absolute;left:47.02px;top:438.54px" class="cls_004"><span class="cls_004">PROJECTS</span></div>
<div style="position:absolute;left:189.52px;top:438.26px" class="cls_005"><span class="cls_005">LetsChat</span></div>
<div style="position:absolute;left:189.52px;top:459.23px" class="cls_006"><span class="cls_006">Jan 2020 - Jan 2020</span></div>
<div style="position:absolute;left:189.52px;top:476.76px" class="cls_007"><span class="cls_007"> </span><A HREF="https://github.com/rohit20001221/django/tree/master/LetsChat">https://github.com/rohit20001221/django/tree/master/LetsChat</A> </div>
<div style="position:absolute;left:189.52px;top:496.75px" class="cls_006"><span class="cls_006">Simple SocialMedia where friends can Chat</span></div>
<div style="position:absolute;left:189.52px;top:524.85px" class="cls_006"><span class="cls_006">Technologies used:</span></div>
<div style="position:absolute;left:189.52px;top:541.71px" class="cls_006"><span class="cls_006">1.Django</span></div>
<div style="position:absolute;left:189.52px;top:558.56px" class="cls_006"><span class="cls_006">2.Django Channels</span></div>
<div style="position:absolute;left:189.52px;top:575.42px" class="cls_006"><span class="cls_006">3.Bootstrap</span></div>
<div style="position:absolute;left:189.52px;top:592.27px" class="cls_006"><span class="cls_006">4.ReactJS</span></div>
<div style="position:absolute;left:189.52px;top:609.13px" class="cls_006"><span class="cls_006">5.JQuery</span></div>
<div style="position:absolute;left:189.52px;top:625.98px" class="cls_006"><span class="cls_006">6.SQLite</span></div>
<div style="position:absolute;left:189.52px;top:647.88px" class="cls_005"><span class="cls_005">Nike Product page</span></div>
<div style="position:absolute;left:189.52px;top:668.85px" class="cls_006"><span class="cls_006">Jan 2020 - Jan 2020</span></div>
<div style="position:absolute;left:189.52px;top:686.38px" class="cls_007"><span class="cls_007"> </span><A HREF="https://rohit20001221.github.io/page1/">https://rohit20001221.github.io/page1/</A> </div>
<div style="position:absolute;left:189.52px;top:706.37px" class="cls_006"><span class="cls_006">nike product page using bootstrap</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-297px;top:851px;width:595px;height:841px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="{% static '4a045a26-3d58-11ea-a5fd-0cc47a792c0a_id_4a045a26-3d58-11ea-a5fd-0cc47a792c0a_files/background2.jpg'%}" width=595 height=841></div>
<div style="position:absolute;left:189.52px;top:38.11px" class="cls_005"><span class="cls_005">Free B.tech Textbooks</span></div>
<div style="position:absolute;left:189.52px;top:59.08px" class="cls_006"><span class="cls_006">Jan 2020 - Jan 2020</span></div>
<div style="position:absolute;left:189.52px;top:76.60px" class="cls_007"><span class="cls_007"> </span><A HREF="https://freebooksbetch.pythonanywhere.com/">https://freebooksbetch.pythonanywhere.com/</A> </div>
<div style="position:absolute;left:189.52px;top:96.59px" class="cls_006"><span class="cls_006">a web app where students can download their b.tech text books</span></div>
<div style="position:absolute;left:189.52px;top:118.50px" class="cls_005"><span class="cls_005">Farmers portal</span></div>
<div style="position:absolute;left:189.52px;top:139.46px" class="cls_006"><span class="cls_006">Dec 2019 - Jan 2020</span></div>
<div style="position:absolute;left:189.52px;top:156.99px" class="cls_007"><span class="cls_007"> </span><A HREF="https://girodex904.pythonanywhere.com">https://girodex904.pythonanywhere.com</A> </div>
<div style="position:absolute;left:189.52px;top:176.98px" class="cls_006"><span class="cls_006">An E-Commerce website for farmers</span></div>
<div style="position:absolute;left:189.52px;top:193.84px" class="cls_006"><span class="cls_006">farmers upload their product details via mobile phone</span></div>
<div style="position:absolute;left:189.52px;top:221.94px" class="cls_006"><span class="cls_006">Technologies and services used:</span></div>
<div style="position:absolute;left:189.52px;top:238.80px" class="cls_006"><span class="cls_006">1.Django</span></div>
<div style="position:absolute;left:189.52px;top:255.65px" class="cls_006"><span class="cls_006">2.Bootstarp</span></div>
<div style="position:absolute;left:189.52px;top:272.51px" class="cls_006"><span class="cls_006">3.SqlLite</span></div>
<div style="position:absolute;left:189.52px;top:289.36px" class="cls_006"><span class="cls_006">4.jQuery</span></div>
<div style="position:absolute;left:189.52px;top:306.22px" class="cls_006"><span class="cls_006">5.HTML</span></div>
<div style="position:absolute;left:189.52px;top:323.07px" class="cls_006"><span class="cls_006">6.Paytm API</span></div>
<div style="position:absolute;left:189.52px;top:351.17px" class="cls_006"><span class="cls_006">credentials username:test password:test123</span></div>
<div style="position:absolute;left:189.52px;top:373.08px" class="cls_005"><span class="cls_005">Simple Instagram webscrapper</span></div>
<div style="position:absolute;left:189.52px;top:394.04px" class="cls_006"><span class="cls_006">Jan 2020 - Jan 2020</span></div>
<div style="position:absolute;left:189.52px;top:411.57px" class="cls_007"><span class="cls_007"> </span><A HREF="https://github.com/rohit20001221/rohit20001221.github.io/blob/master/scrapper.py">https://github.com/rohit20001221/rohit20001221.github.io/blob/master/scrapper.py</A> </div>
<div style="position:absolute;left:189.52px;top:431.56px" class="cls_006"><span class="cls_006">a  simple  web  scrapper  which  scrapes  information  of  public  instagram</span></div>
<div style="position:absolute;left:189.52px;top:448.42px" class="cls_006"><span class="cls_006">profiles</span></div>
<div style="position:absolute;left:189.52px;top:470.32px" class="cls_005"><span class="cls_005">Adidas Product Page</span></div>
<div style="position:absolute;left:189.52px;top:491.29px" class="cls_006"><span class="cls_006">Jan 2020 - Jan 2020</span></div>
<div style="position:absolute;left:189.52px;top:508.82px" class="cls_007"><span class="cls_007"> </span><A HREF="https://rohit20001221.github.io/page2/">https://rohit20001221.github.io/page2/</A> </div>
<div style="position:absolute;left:189.52px;top:528.81px" class="cls_006"><span class="cls_006">Bootstrap template of Adidas page</span></div>
<div style="position:absolute;left:189.52px;top:550.71px" class="cls_005"><span class="cls_005">Python Grid Game</span></div>
<div style="position:absolute;left:189.52px;top:571.67px" class="cls_006"><span class="cls_006">Sep 2019 - Oct 2019</span></div>
<div style="position:absolute;left:189.52px;top:589.20px" class="cls_007"><span class="cls_007"> </span><A HREF="https://github.com/rohit20001221/django/blob/master/grid_game.py">https://github.com/rohit20001221/django/blob/master/grid_game.py</A> </div>
<div style="position:absolute;left:47.02px;top:619.77px" class="cls_004"><span class="cls_004">SKILLS</span></div>
<div style="position:absolute;left:190.27px;top:620.24px" class="cls_005"><span class="cls_005">Python</span></div>
<div style="position:absolute;left:365.58px;top:620.24px" class="cls_005"><span class="cls_005">Django</span></div>
<div style="position:absolute;left:190.27px;top:641.21px" class="cls_006"><span class="cls_006">Advanced</span></div>
<div style="position:absolute;left:365.58px;top:641.21px" class="cls_006"><span class="cls_006">Advanced</span></div>
<div style="position:absolute;left:190.27px;top:672.24px" class="cls_005"><span class="cls_005">Data Structures</span></div>
<div style="position:absolute;left:365.58px;top:672.24px" class="cls_005"><span class="cls_005">HTML</span></div>
<div style="position:absolute;left:190.27px;top:693.21px" class="cls_006"><span class="cls_006">Intermediate</span></div>
<div style="position:absolute;left:365.58px;top:693.21px" class="cls_006"><span class="cls_006">Advanced</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-297px;top:1702px;width:595px;height:841px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="{% static '4a045a26-3d58-11ea-a5fd-0cc47a792c0a_id_4a045a26-3d58-11ea-a5fd-0cc47a792c0a_files/background3.jpg' %}" width=595 height=841></div>
<div style="position:absolute;left:190.27px;top:38.86px" class="cls_005"><span class="cls_005">JavaScript</span></div>
<div style="position:absolute;left:365.58px;top:38.86px" class="cls_005"><span class="cls_005">Machine Learning</span></div>
<div style="position:absolute;left:190.27px;top:59.83px" class="cls_006"><span class="cls_006">Intermediate</span></div>
<div style="position:absolute;left:365.58px;top:59.83px" class="cls_006"><span class="cls_006">Intermediate</span></div>
<div style="position:absolute;left:190.27px;top:90.86px" class="cls_005"><span class="cls_005">Deep Learning</span></div>
<div style="position:absolute;left:365.58px;top:90.86px" class="cls_005"><span class="cls_005">jQuery</span></div>
<div style="position:absolute;left:190.27px;top:111.83px" class="cls_006"><span class="cls_006">Beginner</span></div>
<div style="position:absolute;left:365.58px;top:111.83px" class="cls_006"><span class="cls_006">Intermediate</span></div>
<div style="position:absolute;left:190.27px;top:142.87px" class="cls_005"><span class="cls_005">SQL</span></div>
<div style="position:absolute;left:365.58px;top:142.87px" class="cls_005"><span class="cls_005">Bootstrap</span></div>
<div style="position:absolute;left:190.27px;top:163.83px" class="cls_006"><span class="cls_006">Intermediate</span></div>
<div style="position:absolute;left:365.58px;top:163.83px" class="cls_006"><span class="cls_006">Advanced</span></div>
<div style="position:absolute;left:190.27px;top:194.87px" class="cls_005"><span class="cls_005">ReactJS</span></div>
<div style="position:absolute;left:365.58px;top:194.87px" class="cls_005"><span class="cls_005">Data Science</span></div>
<div style="position:absolute;left:190.27px;top:215.84px" class="cls_006"><span class="cls_006">Beginner</span></div>
<div style="position:absolute;left:365.58px;top:215.84px" class="cls_006"><span class="cls_006">Intermediate</span></div>
<div style="position:absolute;left:190.27px;top:246.88px" class="cls_005"><span class="cls_005">Flask</span></div>
<div style="position:absolute;left:365.58px;top:246.88px" class="cls_005"><span class="cls_005">PHP</span></div>
<div style="position:absolute;left:190.27px;top:267.84px" class="cls_006"><span class="cls_006">Intermediate</span></div>
<div style="position:absolute;left:365.58px;top:267.84px" class="cls_006"><span class="cls_006">Intermediate</span></div>
<div style="position:absolute;left:47.02px;top:306.66px" class="cls_004"><span class="cls_004">WORK SAMPLES</span></div>
<div style="position:absolute;left:189.52px;top:306.38px" class="cls_008"><span class="cls_008">GitHub Profile:</span></div>
<div style="position:absolute;left:189.52px;top:327.35px" class="cls_007"><span class="cls_007"> </span><A HREF="https://github.com/rohit20001221">https://github.com/rohit20001221</A> </div>
<div style="position:absolute;left:189.52px;top:356.88px" class="cls_008"><span class="cls_008">Other Portfolio Link:</span></div>
<div style="position:absolute;left:189.52px;top:377.85px" class="cls_007"><span class="cls_007"> </span><A HREF="https://rohit20001221.github.io/portfolio/">https://rohit20001221.github.io/portfolio/</A> </div>
<div style="position:absolute;left:47.02px;top:415.92px" class="cls_004"><span class="cls_004">ADDITIONAL DETAILS</span></div>
<div style="position:absolute;left:204.52px;top:424.63px" class="cls_006"><span class="cls_006">Hacker Rank Profile: </span><A HREF="https://www.hackerrank.com/rohit20001221/">https://www.hackerrank.com/rohit20001221</A> </div>
<div style="position:absolute;left:204.52px;top:472.91px" class="cls_006"><span class="cls_006">Topper of Python for Data science NPTEL course 2019</span></div>
<div style="position:absolute;left:204.52px;top:490.44px" class="cls_006"><span class="cls_006"> </span><A HREF="https://drive.google.com/file/d/1ccqrkqf8vcmc8idoknch03jnozgx4uda/view?usp=s/">https://drive.google.com/file/d/1ccQRKqF8VCmC8iDoKnCh03jNozGx4uDa/view?usp=s</A> </div>
<div style="position:absolute;left:204.52px;top:538.72px" class="cls_006"><span class="cls_006">Topper of Discreet Mathematics in NPTEL 2018</span></div>
</div>

</body>
</html>
